@import '~bootstrap/scss/bootstrap';
@import url("https://use.typekit.net/kot8atv.css");
@font-face {
  font-family: 'Nickainley';
  src: local('Nickainley'), url(./Fonts/Nickainley.ttf) format('truetype');
}

body {
  background-color: #260108;
}

.auth-buttons {
  background-color: #8C0327;
  border: 5px solid #F23D4C;
  border-radius: 25px;
  color: #F29191;
  font-family: house-script, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  justify-content: center;
  margin: 35px;
  padding: 10px;
  width: 200px;
  &:hover {
    background-color: #F29191;
    border: 5px solid #F23D4C;
    color: #8C0327;
  }
}

.auth {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-title {
  align-items: center;
  display: flex;
  font-family: house-script, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  height: 30%;
  justify-content: center;
}

.form {
  background: #513339;
  color: #F29191;
  font-family: house-script, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}

.icons {
  background-color: white;
}

.list-group {
    align-items: center;
    justify-content: center;
}

.navbar {
  background-color: #8C0327 !important;
  border: 5px solid #F23D4C;
  color: #F29191;
  font-family: Nickainley;
  font-size: 20px;
  justify-content: center;
}

.nav-link {
  font-family: house-script, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;

}

.navtitle {
  float: right;
  font-size: 70px;
  justify-content: center;
}

.nickainley {
  font-family: Nickainley;
}

.options {
  padding: 30px;
}

.page-headers {
  align-items: center;
  color: #F29191;
  display: flex;
  font-family: house-script, sans-serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  justify-content: center;
  margin: 20px;
}

.profile-buttons {
  display: flex;
  float: right;
}

.slogan {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sign-in,
.sign-up,
.change-password {
  color: #F29191;
  font-family: house-script, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}

.submit-button {
  background-color: #8C0327;
  border: 2px solid #F23D4C;
  border-radius: 15px;
  color: #F29191;
  font-family: house-script, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  margin: 20px 0px;
  &:hover {
    background-color: #F29191;
    border: 2px solid #F23D4C;
    color: #8C0327;
  }
}

.tattoo-form {
  font-family: house-script, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  color: #F29191;
  clear: both;
  display: block;
  width: 100%;
}

.tattoo-image {
  height: auto;
  margin: 0 auto;
  max-height: 350px;
  max-width: 100%;
  width: auto;
}

.tattoo-full {
  align-items: center;
  background: #F23D4C;
  border: 5px solid #F29191;
  border-radius: 15px;
  color: #260108;
  font-family: house-script, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  justify-content: center;
  margin: 10px;
  width: 75%;
}

.tattoo-teaser {
  align-items: center;
  background: #F23D4C;
  border: 5px solid #F29191;
  border-radius: 15px !important;
  color: #260108;
  font-family: house-script, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  justify-content: center;
  margin: 10px;
  width: 75%;
}

.title {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}
